.splide {
  width: 100%;
  padding: 0;
  position: initial;
}

.splide__pagination {
  display: none;
}

.splide__slide {
  width: 50%;
  border-radius: 0;
}

.splide__arrows {
  width: 96px;
  height: 40px;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 791px) and (max-width: 1024px) {
  .splide__arrows {
    width: 88px;
  }
}

.splide__arrow[type="button"] {
  width: 40px;
  height: 40px;
  opacity: 1;
  position: static;
  transform: translateY(0%);
  border-radius: 8px;
}

@media screen and (min-width: 791px) and (max-width: 1024px) {
  .splide__arrow[type="button"] {
    width: 36px;
    height: 36px;
  }
}

.splide__arrow:disabled {
  opacity: 0.3;
}

.splide__arrow::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
}

.splide__arrow svg {
  display: none;
}

/* ============ Styles for Product categories section ============ */
/* To add spacing from top for our arrows */

#product-categories-section .splide__arrows {
  top: 2px;
}

@media screen and (min-width: 640px) and (max-width: 790px) {
  #product-categories-section .splide__arrows {
    top: -2px;
  }
}

@media screen and (min-width: 791px) and (max-width: 1024px) {
  #product-categories-section .splide__arrows {
    top: 8px;
  }
}

@media screen and (min-width: 1025px) {
  #product-categories-section .splide__arrows {
    top: 28px;
  }
}

/* For border radius */
#product-categories-section .splide__track {
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
}

/* Arrows icons */
#product-categories-section .splide__arrow--next::before {
  background-image: url("../assets/icons/chevronNext.svg");
}

#product-categories-section .splide__arrow--prev::before {
  background-image: url("../assets/icons/chevronPrev.svg");
}

/* Background color */
#product-categories-section .splide__arrow[type="button"] {
  background-color: #e7e7e3;
}

/* ============ Styles for Product cards carousel ============ */
/* To add spacing from top for our arrows */
#product-cards-carousel-section .splide__arrows {
  top: 9px;
}

/* Arrows icons */
#product-cards-carousel-section .splide__arrow--next::before {
  background-image: url("../assets/icons/chevronNextWhite.svg");
}

#product-cards-carousel-section .splide__arrow--prev::before {
  background-image: url("../assets/icons/chevronPrevWhite.svg");
}

/* Background color */
#product-cards-carousel-section .splide__arrow[type="button"] {
  background-color: #232321;
}
